.jumbotron{
    /* padding : 2rem 1rem; 2 atas bawah , 1 kanan kiri */
    padding-top: 7rem;
    background-color: #e2edff;
}
#projects{
    background-color: #e2edff;
}

section{
    padding-top: 7rem;
}